<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NewLife.Core" publicKeyToken="8343210f0b524456" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.2023.1001" newVersion="10.6.2023.1001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>